{% extends "base.html" %}
{% load static %}

{% block nav_title %}
Metrics
{% endblock %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

<div class="smartcontent mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">Total Button Presses</div>
    <div class="mdl-cell mdl-cell--6-col">Total Tests</div>
    <div class="mdl-cell mdl-cell--6-col">Button 0 Presses / Day</div>

</div>
    <div class="smartcontent mdl-grid">
        <div class="mdl-cell mdl-cell--6-col">
              <script type="text/javascript">
                $( document ).ready(function() {
                    var data = {
                        labels: ['1', '2', '3', '4'],
                        datasets: [
                            {
                                label: "Count per button pressed.",
                                fillColor: "rgba(255,109,0,0.8)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ button_counts }}
                            }
                        ]
                    };
                    var ctx = document.getElementById("chart_container").getContext("2d");
                    var myBarChart = new Chart(ctx).Bar(data);
                });
              </script>
              <canvas id="chart_container" width="400" height="400"></canvas>
            </div>

         <div class="mdl-cell mdl-cell--6-col">
              <script type="text/javascript">
                $( document ).ready(function() {
                    var data = {
                        labels: ['1', '2', '3', '4'],
                        datasets: [
                            {
                                label: "Count per test.",
                                fillColor: "rgba(255,109,0,0.8)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ test_counts }}
                            }
                        ]
                    };
                    var ctx = document.getElementById("chart_container").getContext("2d");
                    var myBarChart = new Chart(ctx).Bar(data);
                });
              </script>
              <canvas id="chart_container" width="400" height="400"></canvas>
            </div>




            <div class="mdl-cell mdl-cell--6-col">
                    <script type="text/javascript">
                $( document ).ready(function() {
                    var data = {
                        labels: {{ date_data }},
                        datasets: [
                            {
                                label: "Button presses over time.",
                                fillColor: "rgba(255,109,0,0.8)",
                                strokeColor: "rgba(220,220,220,1)",
                                pointColor: "rgba(220,220,220,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ summed_data }}
                            }
                        ]
                    };
                    var ctx = document.getElementById("button_over_time").getContext("2d");
                    var myLineChart = new Chart(ctx).Line(data);
                });
              </script>
              <canvas id="button_over_time" width="600" height="400"></canvas>

            </div>

</div>
{% endblock %}

{% block extrajs %}
<script src="https://code.highcharts.com/2.2/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}