{% extends "base.html" %}
{% load static %}

{% block nav_title %}
Metrics
{% endblock %}

{% block content %}
<script src="//cdnjs.cloudflare.com/ajax/libs/Chart.js/0.2.0/Chart.min.js" type="text/javascript"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>

<div class="smartcontent mdl-grid">
    <div class="mdl-cell--6-col mdl-grid">
        <div class="mdl-layout-spacer"></div>
            <div class="mdl-color-text--blue-grey-800 mdl-typography--title">
                Buttons Pressed
            </div>
        <div class="mdl-layout-spacer"></div>
    </div>
</div>
<div class="smartcontent mdl-grid">
    <div class="mdl-color--white mdl-shadow--2dp mdl-cell--12-col mdl-grid mdl-color-text--blue-grey-500 mdl-grid">

              <script type="text/javascript">
                $( document ).ready(function() {
                    var data = {
                        labels: ['1', '2', '3', '4'],
                        datasets: [
                            {
                                label: "Count per button pressed.",
                                fillColor: "rgba(0, 188, 212,0.8)",
                                strokeColor: "rgba(0, 188, 212,1)",
                                pointColor: "rgba(0, 188, 212,1)",
                                pointStrokeColor: "#fff",
                                pointHighlightFill: "#fff",
                                pointHighlightStroke: "rgba(220,220,220,1)",
                                data: {{ button_counts }}
                            }
                        ]
                    };

                    var ctx = document.getElementById("chart_container").getContext("2d");
                    var myBarChart = new Chart(ctx).Bar(data, {
                                                            responsive: true,
                                                            scaleOverride : true,
                                                            scaleSteps : 10,
                                                            scaleStepWidth : 50,
                                                            scaleStartValue : 0
                                                        });
                    });
              </script>
                <div class="mdl-layout-spacer"></div>
                    <canvas id="chart_container" width="400" height="400"></canvas>
                <div class="mdl-layout-spacer"></div>

    </div>
</div>
{% endblock %}

{% block extrajs %}
<script src="https://code.highcharts.com/2.2/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}